{{define "create.html"}}
    <html>
		<head>
			<style>
				p:empty:not(:focus)::before {
				  content: attr(placeholder);
				  color:grey;
				  font-style:italic;
				}
			</style>
			<link rel="stylesheet" href="css/edit/css/editor.css">
			<link rel="stylesheet" media="(max-width:600px)" href="css/create/css/editor-2-small.css">
			<link rel="stylesheet" media="(min-width:601px)" href="css/create/css/editor-2-large.css">
		</head>
		<body>
			{{template "header.tmpl" .}}
			{{template "navBar.tmpl"}}
			{{template "contents.tmpl" .}}
			<div id="controller">
				<input type="button" value="에디터로 보기" onclick="convertToEditor()" />
				<input type="button" value="HTML로 보기" onclick="convertToHTML()" />
				<div id="messageSave" style="display: inline"></div>
				<input id="publish" type="button" value="publish 하기" onclick="publish()" />
			</div>
			<div id="editorContainer">
				<div id="editorButton">
					<select onchange="document.execCommand('formatBlock',false,this.value)" >
						<option value="">Title</option>
						<option value="h1">Title 1</option>
						<option value="h2">Title 2</option>
						<option value="h3">Title 3</option>
					</select>
					<select onchange="cmd('formatBlock',this.value)">
						<option value="">Title</option>
						<option value="<h1>">Title 1</option>
						<option value="<h2>">Title 2</option>
						<option value="<h3>">Title 3</option>
					</select>
					<input type="button" class="H1" value="H1" onclick="document.execCommand('formatBlock',false,'h1')" />
					<input type="button" class="BOLD" value="Bold" onclick="document.execCommand('bold')" />
					<input type="button" class="ITALIC" value="Italic" onclick="document.execCommand('Italic')" />
					<input type="button" class="UNDERBAR" value="Underline" onclick="document.execCommand('Underline')" />
					<input type="button" class="BAR" value="EraseLine" onclick="document.execCommand('StrikeThrough')" />
					<input type="button" value="구글 이미지넣기" onclick="document.getElementById('editor').focus(); document.execCommand('insertImage',false,'https://www.google.com.au/images/branding/googleg/1x/googleg_standard_color_128dp.png');">
					<input type="button" value="주소 이미지넣기" onclick="var url = prompt('이미지 주소', 'http://'); if (url) { html = '<img src=\''+url+'\' title=\'image\' />'; document.getElementById('textdiv').focus(); document.execCommand('insertHtml',null, html);}">
				</div>
				<div id="editor" name="textdiv" placeholder="Type something..." contentEditable=true></div>
				<div id="editorContent"></div>
			</div>
		</body>
		<script>
			document.addEventListener("DOMContentLoaded", function(event) { 
				document.getElementById("editor").innerHTML += '<h1><p placeholder="Title..."></p></h1><p placeholder="postings..."></p>';
			});
			document.getElementById("editor").addEventListener("input", delay(handleEditorInputChange, 500), false);
			
			//HTML코드로 보기
			function convertToHTML() {
				var plainEditorText = document.getElementById('editor').innerHTML
				var HTMLEditor = document.getElementById('editorContent')
				HTMLEditor.textContent = plainEditorText
				document.getElementById('editorContent').style.display = 'block'
				document.getElementById('editor').style.display = 'none'
			}

			//에디터 화면으로 보기
			function convertToEditor() {
				document.getElementById('editorContent').style.display = 'none'
				document.getElementById('editor').style.display = 'block'
			}
			
			//퍼블리시 하기
			function publish(){
				alert('퍼블리시!')
			}
			
			class Route {
				constructor(url) {
					this.init(url)
				}
				
				init(url){
					this.route = this.parseRouteFromURL(url)
				}
				
				parseRouteFromURL(url){
					const urlParts = url.split('/');
					return urlParts.pop() || urlParts.pop();  // handle potential trailing slash 
				}
				
				setRouteFromURL(url){
					this.route = this.parseRouteFromURL(url)
				}
				
				getRoute(){
					return this.route
				}
			
				isPostNewlyCreated(){
					return this.route == 'create'
				}
				
				isPostEdited(){
					return this.route == 'edit'
				}
			}
			
			var route = new Route(document.URL)
			
			function delay(fn, ms) {
			  let timer = 0
			  return function(...args) {
				clearTimeout(timer)
				timer = setTimeout(fn.bind(this, ...args), ms || 0)
			  }
			}
			
			function handleEditorInputChange(){
				route.setRouteFromURL(document.URL)
				if(route.isPostNewlyCreated()){
					saveAndReturnPostId()
					.then(postId => 'posts'+"/"+postId+'/'+'edit')
					.then(newURL => replaceURL({}, newURL))
				}
				else if(route.isPostEdited()){
					var parts = document.URL.split('/')
					var postId = parts[4]
					patchPost(postId)
					console.log('delayed input: ', document.getElementById("editor").innerHTML)
				}
			}

			function replaceURL(state={}, newURL){
				history.replaceState(state, null, newURL)
			}
			
			function saveAndReturnPostId(){
				messageSaveInProcess()
				var editorContent = document.getElementById("editor").innerHTML
				const publishingPost = {}
				publishingPost["title"] = "test_title"
				publishingPost["subtitle"] = "test_subtitle"
				publishingPost["language"] = "KR"
				publishingPost["content"] = editorContent
				
				var url = 'https://port-3000-pitaka.run.goorm.io/posts';
				return postData(url, publishingPost)
						.then(data => {
							messageSaveCompleted()
							return data.id}) // JSON-string from `response.json()` call
						.catch(error => console.error(error));
				
			}
			
			function patchPost(postId){
				messageSaveInProcess()
				var editorContent = document.getElementById("editor").innerHTML
				const publishingPost = {}
				publishingPost["content"] = editorContent
				
				var url = 'https://port-3000-pitaka.run.goorm.io/posts/'+postId
				return patchData(url, publishingPost)
						.then(data => {
							messageSaveCompleted()
							return data.id}) // JSON-string from `response.json()` call
						.catch(error => console.error(error));
			}
			
			function messageSaveInProcess() {
				document.getElementById('messageSave').innerHTML = 'Saving...'
			}
			
			function messageSaveCompleted() {
				document.getElementById('messageSave').innerHTML = 'Saved!'
				window.setTimeout(removeMessageSave, 1300);
			}
			
			function removeMessageSave(){
				document.getElementById('messageSave').innerHTML = ''
			}
			
			function postData(url = '', data = {}) {
			  // Default options are marked with *
				return fetch(url, {
					method: 'POST', // *GET, POST, PUT, DELETE, etc.
					// mode: 'cors', // no-cors, cors, *same-origin
					// cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
					// credentials: 'same-origin', // include, *same-origin, omit
					headers: {
						'Content-Type': 'application/json',
						// 'Content-Type': 'application/x-www-form-urlencoded',
					},
					// redirect: 'follow', // manual, *follow, error
					// referrer: 'no-referrer', // no-referrer, *client
					body: JSON.stringify(data), // body data type must match "Content-Type" header
				})
				.then(response => response.json()); // parses JSON response into native JavaScript objects 
			}
			
			function patchData(url = '', data = {}) {
			  // Default options are marked with *
				return fetch(url, {
					method: 'PATCH', // *GET, POST, PUT, DELETE, etc.
					// mode: 'cors', // no-cors, cors, *same-origin
					// cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
					// credentials: 'same-origin', // include, *same-origin, omit
					headers: {
						'Content-Type': 'application/json',
						// 'Content-Type': 'application/x-www-form-urlencoded',
					},
					// redirect: 'follow', // manual, *follow, error
					// referrer: 'no-referrer', // no-referrer, *client
					body: JSON.stringify(data), // body data type must match "Content-Type" header
				})
				.then(response => response.json()); // parses JSON response into native JavaScript objects 
			}
		</script>
	</html>
{{end}}