{{define "navBar.tmpl"}}
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		<ul class="navbar-nav">
			<a class="navbar-brand" href="/">Pitaka</a>
			<li class="nav-item" style="margin-right: 5%;">
				<a class="nav-link" href="/login">login</a>
			</li>
			<li class="nav-item" style="margin-right: 5%;">
				<a class="nav-link" href="/posts=published">posts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/edit">edit</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/create">create</a>
			</li>
			<li>
				<a class="nav-link" href="/vecty">vecty</a>
			</li>
		</ul>
	</nav>
{{end}}
