{{define "posts.tmpl"}}
	{{ range $index, $value := .posts }}
		<div class="card" style="margin-left: 3%; margin-bottom:2%; width:50%;">
			<div class="card-header">
				{{ $value.id }} - 생성: {{ $value.created_at }} / 수정: {{ $value.updated_at}}
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ $value.title }}</h5>
				<p class="card-text">{{ $value.subtitle }}</p>
				<a href="/post={{ $value.id }}" class="btn btn-primary">Detail</a>
			</div>
		</div>
	{{ end }}
{{end}}
