{{define "edit.html"}}
    <html>
		<body>
			{{template "header.tmpl" .}}
			{{template "navBar.tmpl"}}
			{{template "contents.tmpl" .}}
			<div class="buttons">
				<select onchange="document.execCommand('formatBlock',false,this.value)" >
					<option value="">Title</option>
					<option value="h1">Title 1</option>
					<option value="h2">Title 2</option>
					<option value="h3">Title 3</option>
				</select>
				<select onchange="cmd('formatBlock',this.value)">
					<option value="">Title</option>
					<option value="<h1>">Title 1</option>
					<option value="<h2>">Title 2</option>
					<option value="<h3>">Title 3</option>
				</select>
				<input type="button" class="H1" value="H1" onclick="document.execCommand('formatBlock',false,'h1')" />
				<input type="button" class="BOLD" value="Bold" onclick="document.execCommand('bold')" />
				<input type="button" class="ITALIC" value="Italic" onclick="document.execCommand('Italic')" />
				<input type="button" class="UNDERBAR" value="Underline" onclick="document.execCommand('Underline')" />
				<input type="button" class="BAR" value="EraseLine" onclick="document.execCommand('StrikeThrough')" />
				<!-- <input type="button" class="aignLeft" value="왼쪽 정렬" onclick="document.execCommand('justifyleft')" />
				<input type="button" class="aignCenter" value="가운데 정렬" onclick="document.execCommand('justifycenter')" />
				<input type="button" class="aignRight" value="오른쪽 정렬" onclick="document.execCommand('justifyright')" /> -->
			</div>
			<div>
				<div class="editorDIV" contenteditable="true">
					<h1>WYSIWYG Editor입니다.</h1>
					<h2>WYSIWYG Editor입니다.</h2>
					<h3>WYSIWYG Editor입니다.</h3>
					<p>
						todo. Heading에 대한 추가적인 코드 처리는 필요한 상황입니다.<br>
						todo. 맨 첫 줄은 Heading처리를 하고, 그 라인을 제목으로 설정하고자 합니다.<br>
					</p>
					<p>
						에디팅 창에서 보이는 그대로 사람들은 글을 읽을 수 있습니다. 포메팅 단계를 따로 거칠 필요가 없어요.
					</p>
					<p>
						<b>Bold 처리가 가능합니다.</b><br>
						위의 Bold 버튼을 눌러서 Bold 해제를 할 수 있습니다.<br>
						물론, Ctrl+b를 통해서 Bold 처리 및 해제를 할 수 있습니다.<br>
					</p>
					<p>
						<em>Italic 처리가 가능합니다.</em><br>
						위의 Italic 버튼을 눌러서 Italic 해제를 할 수 있습니다.<br>
						물론, Ctrl+i를 통해서 Italic 처리 및 해제를 할 수 있습니다.<br>
					</p>
					<p>
						<u>Underline 처리가 가능합니다.</u><br>
						위의 Underline 버튼을 눌러서 Underline 해제를 할 수 있습니다.<br>
						물론, Ctrl+u를 통해서 Italic 처리 및 해제를 할 수 있습니다.<br>
					</p>
					<p>
						<s>Eraseline 처리가 가능합니다.</s><br>
						위의 Eraseline 버튼을 눌러서 Eraseline 해제를 할 수 있습니다.<br>
					</p>
					<p>
						Enter를 치면 새로운 paragraph가 생깁니다.<br>
					</p>
					<p>
						Shift + Enter를 치면 newline처럼 다음 줄로 넘어갑니다.<br>
						위의 Eraseline 버튼을 눌러서 Eraseline 해제를 할 수 있습니다.<br>
					</p>
				 </div>
				<div class="editorHTMLDIV">
				</div>
			</div>
			<div class="buttons">
				<input type="button" value="에디터로 보기" onclick="convertToEditor()" />
				<input type="button" value="HTML로 보기" onclick="convertToHTML()" />
				<input type="button" value="publish 하기" onclick="console.log('퍼블리시!')" />
			</div>
		</body>
		<script type="text/javascript">
			clicked = false;
			cmd = (cmd, arg) => {
			  if(clicked && cmd === 'formatBlock'){
				document.execCommand('formatBlock', false, 'p');
			  } else {
				document.execCommand(cmd, false, arg);
			  }
			  clicked = !clicked;
			}
			// borto = {
			// 	tmpEl: document.createElement('div'),
			// 	/* create element like in jquery with string <tag attribute1 attribute2 /> or <tag attribute1></tag> */
			// 	htmlToDom: function(htmlEl){
			// 		borto.tmpEl.innerHTML = htmlEl;
			// 		return borto.tmpEl.children[0]
			// 	},
			// 	wrapSelection: function(htmlEl){
			// 		var sel = window.getSelection();
			// 		// In firefox we can select multiple area, so they are multiple range
			// 		for(var i = sel.rangeCount;i--;){
			// 			var wrapper = borto.htmlToDom(htmlEl)
			// 			var range = sel.getRangeAt(i);
			// 			wrapper.appendChild(range.extractContents());
			// 			range.insertNode(wrapper);
			// 		}
			// 	},
			// 	command: (name,argument)=>{
			// 		switch(name){
			// 			case "createLink":
			// 				argument = prompt("Quelle est l'adresse du lien ?");
			// 			break;case 'heading' :
			// 				borto.wrapSelection('<'+argument+'/>')	
			// 				return;
			// 		}
			// 		if(typeof argument === 'undefined') {
			// 			argument = '';
			// 		}
			// 		document.execCommand(name, false, argument);
			// 	}
			// }
			
			document.addEventListener("DOMContentLoaded", function(event) { 
				document.querySelector('.editorHTMLDIV').style.display = 'none';
			});
			
			//HTML코드로 보기
			function convertToHTML() {
				var plainEditorText = document.querySelector('.editorDIV').innerHTML
				var HTMLEditor = document.querySelector('.editorHTMLDIV')
				HTMLEditor.textContent = plainEditorText
				document.querySelector('.editorHTMLDIV').style.display = 'block';
				document.querySelector('.editorDIV').style.display = 'none';
			}

			//에디터 화면으로 보기
			function convertToEditor() {
				document.querySelector('.editorHTMLDIV').style.display = 'none';
				document.querySelector('.editorDIV').style.display = 'block';
			}
	    </script>
    </html>
{{end}}
